/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.tabs {
    overflow: hidden;
    border: 5px solid red;
    background-color: black;
    display: flex;
}

.tabs button {
    background-color: black;
    background: linear-gradient(to bottom, black, rgba(252, 1, 1, 0.563));
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: .5s;
    color: rgb(255, 0, 0);
    font-size: 20px;
    letter-spacing: 2px;
}

.tabs button:hover {
    background-color: rgba(241, 6, 6, 0.779);
}

.tabs button.active {
    background-color: rgba(241, 6, 6, 0.779);
}

.content {
    display: none;
    padding: 6px 12px;
    border: 2px solid red;
    border-top: none;
}

.content.active {
    display: block;
}